@scope (.playerComponent) {
  :scope {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr max-content;
    gap: 2px;
    height: 100%;
    position: relative;
  }
  
  .player {
    aspect-ratio: 16/9;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }
}
